<div class="ngb-toasts text-center">
  <ngb-toast class="wrapper" *ngFor="let toast of alertService.toasts" [class]="cssClass(toast.type)"
    [autohide]="toast.autohide" [delay]="toast.delay || 3000" (hide)="alertService.remove(toast)"
    (click)="alertService.remove(toast)">
    <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
      <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
    </ng-template>

    <ng-template #text>{{ toast.textOrTpl }}</ng-template>
  </ngb-toast>
</div>